<footer class="mt-auto text-white-50 bg-dark">
  <p class="mb-1">Developed by <b>ReuelO</b></p>
  <p>
    <a
      class="btn btn-sm btn-outline-light"
      href="https://github.com/ReuelO"
      target="_blank"
    >
      GitHub
    </a>
    <a
      class="btn btn-sm btn-outline-light"
      href="https://twitter.com/OmwengaReuel"
      target="_blank"
    >
      Twitter
    </a>
  </p>
</footer>
