<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Role authentication with Express, MySQL and Passport"
  />
  <meta name="author" content="ReuelO" />
  <title><%= title %></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <script src="/javascripts/bootstrap.bundle.min.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css" />
  <link rel="stylesheet" href="/javascripts/fontawesome.min.js" />

  <!-- DataTables -->
  <link rel="stylesheet" href="/stylesheets/datatables.min.css" />
  <link rel="stylesheet" href="/javascripts/datatables.min.js" />

  <!-- jQuery -->
  <script src="/javascripts/jquery.min.js"></script>

  <!-- Favicons -->
  <!-- <link rel="icon" href="/images/favicon.ico" /> -->

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
