<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/admin/<%= user.user_id %>" id="dashboard">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="/admin/<%= user.user_id %>/profile"
          id="profile"
        >
          <span data-feather="user"></span>
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/<%= user.user_id %>/users" id="users">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger mt-5" href="/logout"> Logout </a>
      </li>
    </ul>
  </div>
</nav>

<script>
  // Show active link
  var locationIndex = window.location.href;

  if (locationIndex.indexOf("profile") > -1) {
    $("#profile").toggleClass("link-white active");
  } else if (locationIndex.indexOf("users") > -1) {
    $("#users").toggleClass("link-white active");
  } else {
    $("#dashboard").toggleClass("link-white active");
  }
</script>
